@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-footnote: #5c6063;
  --color-gray-container: #262626;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-mono);
  --font-terminal: var(--font-terminal);
  --color-nav: rgb(16, 18, 18);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #080808;
    --foreground: #d1d1d1;
  }
}

html {
  scrollbar-gutter: stable;
  overflow-x: hidden;
}

body {
  scrollbar-gutter: stable;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono), Arial, Helvetica, sans-serif;
  overscroll-behavior: none;
  overscroll-behavior-block: none;
  overscroll-behavior-inline: none;
  overflow-x: hidden;
}

/* Ensure scrollbar gutter is stable for all scrollable elements */
* {
  scrollbar-gutter: stable;
}
